<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShopCart.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ShopCart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ShopCart.Properties.Settings.ProductCatalogConnectionString"
            connectionString="Data Source=Kfischer-dt\sqlexpress;Initial Catalog=ProductCatalog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShopCart.Settings1.ProductCatalogConnectionString"
            connectionString="Data Source=Kfischer-dt\sqlexpress;Initial Catalog=ProductCatalog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="UnsecuredBinding" sendTimeout="00:02:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
                <security mode="None">
                  <message establishSecurityContext="false" />
                  <transport clientCredentialType="None" />
                </security>
              </binding>
            </wsHttpBinding>
        </bindings>
      <client>
        <endpoint name="CartService" address="http://gcdmdevtest01:8008/CartService/CartService.svc" binding="wsHttpBinding" contract="GreatCall.ShoppingCart.Contracts.Services.ICartService" bindingConfiguration="UnsecuredBinding" />
      </client>
      <behaviors>
        <serviceBehaviors>
          <behavior name="HttpDebugBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
    <applicationSettings>
      <ShopCart.Settings1>
        <setting name="ProductCatalogPathXML" serializeAs="String">
          <value>ProductCatalogPathXML</value>
        </setting>
        <setting name="ProductCatalogPathXSD" serializeAs="String">
          <value>ProductCatalogPathXSD</value>
        </setting>
        <setting name="ShopCartService" serializeAs="String">
          <value>http://gcdmdevtest01:8008/CartService/CartService.svc</value>
        </setting>
        <setting name="CostGuardService" serializeAs="String">
          <value>http://gcdmdevtest01:8008/CostGuard2/CostGuard.svc</value>
        </setting>
        <setting name="TestCasePath" serializeAs="String">
          <value>G:\SWDev\Private\SQA Tests\Automation\ShopcartWebService\TestCases</value>
        </setting>
        <setting name="TestResults" serializeAs="String">
          <value>G:\SWDev\Private\SQA Tests\Automation\ShopcartWebService\TestResults</value>
        </setting>
        <setting name="DataTableNames" serializeAs="String">
          <value>Product,ProductBundle,ProductSku,ProductSkuRule,ProductType</value>
        </setting>
      </ShopCart.Settings1>
      <Test.ShopCart.Settings1>
            <setting name="ProductCatalogPathXML" serializeAs="String">
                <value>ProductCatalogPathXML</value>
            </setting>
            <setting name="ProductCatalogPathXSD" serializeAs="String">
                <value>ProductCatalogPathXSD</value>
            </setting>
            <setting name="ShopCartService" serializeAs="String">
                <value>http://gcdmdevtest01:8008/CartService/CartService.svc</value>
            </setting>
            <setting name="CostGuardService" serializeAs="String">
                <value>http://gcdmdevtest01:8008/CostGuard2/CostGuard.svc</value>
            </setting>
            <setting name="TestCasePath" serializeAs="String">
                <value>G:\SWDev\Private\SQA Tests\Automation\ShopcartWebService\TestCases</value>
            </setting>
            <setting name="TestResults" serializeAs="String">
                <value>G:\SWDev\Private\SQA Tests\Automation\ShopcartWebService\TestResults</value>
            </setting>
        </Test.ShopCart.Settings1>
    </applicationSettings>
</configuration>