<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="UnsecuredBinding" sendTimeout="00:02:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None">
            <message establishSecurityContext="false" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="CartService" address="http://gcdmdevtest01:8008/CartService/CartService.svc" binding="wsHttpBinding" contract="GreatCall.ShoppingCart.Contracts.Services.ICartService" bindingConfiguration="UnsecuredBinding" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpDebugBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>